---
permalink: /
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}" />
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    {% if site.favicon_img %}
    <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
    {% endif %} <link rel="stylesheet" href="{{ "css/front.css" | prepend:
    site.baseurl }}">
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-102558438-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'UA-102558438-1')
    </script>
  </head>
  <body>
    <div class="content">
      {% if site.front_img %}
      <img
        src="{{ site.front_img_path }}"
        id="fullscreen"
        alt="background image"
      />
      {% endif %} {% if site.avatar %}
      <img
        src="{{ site.avatar_img_path }}"
        id="avatar"
        alt="portrait of Ferit Tunçer"
      />
      {% endif %}

      <h1>{{ site.name }}</h1>
      <h3>{{ site.profession }}</h3>

      <ul>
        {% if site.sourcerer_username %}
        <li>
          <a
            class="fa fa-2x fa-github"
            href="https://sourcerer.io/{{site.sourcerer_username}}"
            ><span class="description">Sourcerer</span></a
          >
        </li>
        {% endif %} {% if site.linkedin_username %}
        <li>
          <a
            class="fa fa-2x fa-linkedin"
            href="https://linkedin.com/in/{{ site.linkedin_username }}"
            ><span class="description">LinkedIn</span></a
          >
        </li>
        {% endif %} {% if site.stack_of_username %}
        <li>
          <a
            class="fa fa-2x fa-stack-overflow"
            href="https://stackoverflow.com/users/{{ site.stack_of_username }}"
            ><span class="description">Stack OF</span></a
          >
        </li>
        {% endif %} {% if site.reddit_username %}
        <li>
          <a
            class="fa fa-2x fa-reddit"
            href="https://reddit.com/user/{{ site.reddit_username }}"
            ><span class="description">Reddit</span></a
          >
        </li>
        {% endif %} {% if site.email %}
        <li>
          <a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}"
            ><span class="description">Email</span></a
          >
        </li>
        {% endif %} {% if site.public_key_url %}
        <li>
          <a class="fa fa-2x fa-key" href="{{ site.public_key_url }}"
            ><span class="description">Keybase</span></a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </body>
</html>
