

<div class="container">
    <h3 class="section-heading text-center "> Get in Touch</h3>
    <div class="row contact-section">
        <div class="col-md-2 image">
            <img src="{{site.github.owner_gravatar_url}}" alt="Profile Image" class="rounded-circle mx-auto d-block img-fluid profile-pic ">
            <p class="text-center padding-top-5">Ferit Tunçer</p>
        </div>

        <div class="col-md-10">
            <p class="text-justify description ">
                TODO<strong> Cheers ! </strong></p>

            <p class="thanks theme-color padding-top-10"> Many Thanks :) </p>

            <p class=" padding-top-5 helping-line">I can help with the following:</p>
                <ul class="list-unstyled list">

                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> Backend Development - Phoenix/Elixir </li>
                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> Frontend Development - EmberJs </li>
                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> UI -Designing Adobe Illustrator/Photoshop </li>
                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> Video - Editing  Adobe PremierPro/After effects </li>

                </ul>
                <span>Happy to learn New Things on demand of Technology </span>

            <p class="text-left info">Drop me a line at <span class="theme-color"> <a href="mailto: ferit@cryptolab.net">ferit@cryptolab.net</a></p>
            <div class="social-media">
                {% include social.html social= site.data.profile.social %}
            </div>

        </div>

    </div>



</div>
